# Dependências
node_modules/

# Build do NestJS e do Next.js
dist/
.next/
out/
*.tsbuildinfo
next-env.d.ts

# Testes
coverage/

# Variáveis de ambiente
.env
.env.*
!.env.example

# Logs
*.log

# Arquivos locais de editores e sistema
.idea/
.DS_Store
Thumbs.db